@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');

* {
  background: none no-repeat 0 0 transparent;
  font-weight: normal;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  font-size: 4vh;
}

.wholeApp {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(ellipse at bottom, #4f6575 0%, #1f3942 100%);
  //overflow: hidden;
}

.logo {
  display: flex;
  background-repeat: no-repeat, no-repeat;
  background-position: center;
  background-image: url("images/backpack.png");
  height: 7rem;
  background-size: contain;
  align-items: center;
  justify-content: center;
}

.wholeAuth {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c4b79d;
    opacity: 1; /* Firefox */
  }

  .title {
    font-size: clamp(45px, 15vw, 150px);
    max-height: 200px;
    font-family: 'Freckle Face', cursive;
    color: #87a351;
    text-shadow: #1f1f1f 5px 5px;
  }

  .loadingWrapper {
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    border: 5px solid #2e2e31;
    background: #2e2e31;
    border-radius: 50px;
    height: 3.2rem;

    .title {
      font-size: 15vw;
      font-family: 'Freckle Face', cursive;
      color: #87a351;
      text-shadow: #1f1f1f 5px 5px;
    }

    .loadingBarElement {
      position: relative;
      align-self: center;
      justify-self: center;
      height: 3rem;
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;

      .loadingBar {
        font-size: clamp(24px, 5vw, 50px);
        font-family: 'Freckle Face', cursive;
        color: #2e2e31;
        position: relative;
        background-color: #f9ad3b;
        height: 2.9rem;
        width: 97%;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0 -25px #c78a2f;

      }
    }
  }

  .creator {
    font-size: 0.5rem;
    color: #c4b79d;
    font-family: 'Freckle Face', cursive;
    text-shadow: #1f1f1f 3px 3px;
  }

  .logoSpacing {
    position: absolute;
    display: flex;
    top: 5vh;
    align-self: center;
    height: 50vh;

    flex-direction: column;
    justify-content: space-around;
    width: 100vw;

  }

  .formSpacingLoading {
    align-self: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 95vw;
    bottom: 1vh;
    justify-content: space-around;
    align-items: center;
  }

  .description {
    font-size: 0.7rem;
  }

  .pageTitle {
    font-size: 1.5rem;
  }

  .formSpacingAuth {
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 95vw;
    justify-content: space-between;
    font-size: 0.3rem;
    color: #f9ad3b;
    font-family: 'Freckle Face', cursive;
    text-shadow: #1f1f1f 3px 3px;

    .menuButton {
      max-height: 60px;
      max-width: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 7vh;
      cursor: pointer;
      font-family: 'Freckle Face', cursive;
      box-shadow: inset 0 -15px #c78a2f;
      color: #2e2e31;
      position: relative;
      background-color: #f9ad3b;
      width: 60vw;
      border-radius: 50px;
      margin: 0;
      align-self: center;
      font-size: 4vh;
      max-font-size: 8vh;
      border: 6px solid #2e2e31;
    }


    .mainMenu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 60vh;
    }

    .registrationForm {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      //border: 1px solid red;
      margin-bottom: 0;
      padding: 0;
      height: 90vh;
    }

    .inputVisuals {
      width: 85vw;
      font-size: 0.7rem;
      color: #f9ad3b;
      font-family: 'Freckle Face', cursive;
      border-top: none;
      border-right: none;
      border-left: none;
      border-bottom: #2e2e32 2px solid;
      max-width: 500px;
    }
  }
}

.navBar {
  z-index: 5;
  display: flex;
  flex-direction: row;
  position: fixed;
  justify-content: space-evenly;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  height: 15vh;
  border-bottom: 6px solid #2e2e31;
  max-height: 10vh;
  font-family: 'Freckle Face', cursive;
  box-shadow: inset 0 -25px #c78a2f;
  color: #2e2e31;
  background-color: #f9ad3b;
  align-self: center;
  font-size: 4vh;
  max-font-size: 8vh;

  .navButton {
    height: 8vh;
    max-height: 10vh;
    width: 20vw;
    color: #2e2e31;
    position: relative;
    margin: -3px;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;

    .navButtonBack {
      position: relative;
      height: 8vh;
      width: 20vw;
      display: flex;
      justify-content: center;
      align-items: center;

      .iconBack {
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('./images/arrow_back_FILL0_wght400_GRAD0_opsz48.png') center no-repeat;
        background-size: 70%;
        height: 8vh;
        width: 8vh;
        max-height: 8vh;
        max-width: 20vw;
      }

      .iconBackpack {
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('./images/backpack_FILL0_wght400_GRAD0_opsz48.png') center no-repeat;
        background-size: 70%;
        height: 8vh;
        width: 8vh;
        max-height: 8vh;
        max-width: 20vw;
      }

      .iconMap {
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('./images/pin_drop_FILL0_wght400_GRAD0_opsz48.png') center no-repeat;
        background-size: 70%;
        height: 8vh;
        width: 8vh;
        max-height: 8vh;
        max-width: 20vw;
      }

      .iconInstructions {
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('./images/info_FILL0_wght400_GRAD0_opsz48.png') center no-repeat;
        background-size: 70%;
        height: 8vh;
        width: 8vh;
        max-height: 8vh;
        max-width: 20vw;
      }

      .iconLogout {
        display: flex;
        justify-content: center;
        align-items: center;
        background: url('./images/power_settings_new_FILL0_wght400_GRAD0_opsz48.png') center no-repeat;
        background-size: 70%;
        height: 8vh;
        width: 8vh;
        max-height: 8vh;
        max-width: 20vw;
      }
    }

  }

}

.landingPage {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .title {
    font-size: clamp(45px, 15vw, 150px);
    max-height: 200px;
    font-family: 'Freckle Face', cursive;
    color: #87a351;
    text-shadow: #1f1f1f 5px 5px;
  }

  .menuOptions {
    display: flex;
    flex-direction: column;

    .landingButton {
      max-height: 60px;
      max-width: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 8vh;
      font-family: 'Freckle Face', cursive;
      box-shadow: inset 0 -15px #c78a2f;
      color: #2e2e31;
      position: relative;
      background-color: #f9ad3b;
      width: 60vw;
      border-radius: 50px;
      margin: 0;
      align-self: center;
      font-size: 4vh;
      max-font-size: 8vh;
      border: 6px solid #2e2e31;
    }
  }
}

.backpack {
  z-index: 0;
  position: relative;
  top: 20vh;
  background: radial-gradient(ellipse at bottom, #4f6575 0%, #1f3942 100%);
  .done {
    text-decoration: line-through;
  }
  .notDone {

  }
  .hidden {
    display: none;
  }
  .shown {
    background: #c78a2f;
  }

}




